:root {
  /* ## Colors */

  /* ### Primary */
  --blue: hsl(246, 80%, 60%);
  /* (work) */
  --light-red-orange: hsl(15, 100%, 70%);
  /* (play) */
  --soft-blue: hsl(195, 74%, 62%);
  /* (study) */
  --light-red: hsl(348, 100%, 68%);
  /* (exercise) */
  --lime-green: hsl(145, 58%, 55%);
  /* (social) */
  --violet: hsl(264, 64%, 52%);
  /* (self care) */
  --soft-orange: hsl(43, 84%, 65%);

  /* ### Neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  /* font family */
  --rubik-font: "Rubik", serif;

  /* padding */
  --rem-padding: 1.2rem;
  --gap-grid: 1rem;

  /* border radius */
  --rem-radius: 0.7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--very-dark-blue);
  font-family: var(--rubik-font);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--gap-grid);
}

.left-part {
  background-color: var(--dark-blue);
  border-radius: var(--rem-radius);
  display: grid;
}

.person {
  background-color: var(--blue);
  border-radius: var(--rem-radius);
  padding: var(--rem-padding);
  width: 11rem;
}

.person img {
  width: 4rem;
  height: auto;
  border: 0.15rem solid white;
  border-radius: 9999rem;
  margin-bottom: 1rem;
}

.label {
  color: var(--pale-blue);
  font-size: 0.8rem;
}

.name {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.item-times {
  padding: var(--rem-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.times {
  color: var(--desaturated-blue);
  background-color: transparent;
  font-family: var(--rubik-font);
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.times:hover {
  color: var(--pale-blue);
}

.right-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-grid);
}

.hoby {
  border-radius: var(--rem-radius);
  position: relative;
  overflow: hidden;
}

.hoby-bg-img {
  width: 3rem;
  position: absolute;
  right: 8px;
  top: -6px;
}

.top-bg {
  width: 100%;
  height: 50%;
  position: absolute;
}
.hoby:nth-child(1) .top-bg {
  background-color: var(--light-red-orange);
}
.hoby:nth-child(2) .top-bg {
  background-color: var(--soft-blue);
}
.hoby:nth-child(3) .top-bg {
  background-color: var(--light-red);
}
.hoby:nth-child(4) .top-bg {
  background-color: var(--lime-green);
}
.hoby:nth-child(5) .top-bg {
  background-color: var(--violet);
}
.hoby:nth-child(6) .top-bg {
  background-color: var(--soft-orange);
}

.card {
  padding: var(--rem-padding);
  background-color: var(--dark-blue);
  margin-top: 1.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  border-radius: var(--rem-radius);
  justify-content: space-between;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.head img {
  cursor: pointer;
  width: 15%;
}

.hoby-name {
  font-weight: 300;
}

.period {
  font-size: 2.5rem;
  font-weight: 300;
}

.previous {
  font-weight: 200;
  color: var(--pale-blue);
  font-size: 0.6rem;
}

/* Responsive design */

@media screen and (max-width: 40rem) {
  body {
    height: auto;
  }
  main {
    padding: 2rem;
    align-items: flex-start;
    min-height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .person {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .person img {
    margin-bottom: 0;
  }

  .name {
    font-size: 1.5rem;
  }

  .item-times {
    flex-direction: row;
    justify-content: space-around;
  }

  .right-part {
    grid-template-columns: repeat(1, 1fr);
  }

  .head img {
    width: 8%;
  }

  .counter-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .period {
    font-size: 2rem;
  }
  .previous {
    font-size: 0.8rem;
  }
}
